.primary-container {
    background-color: rgb(245, 223, 184);
    border-top-color: rgb(86, 170, 226);
    border-left-color: rgb(86, 170, 226);
    border-right-color: rgb(86, 170, 226);
    border-bottom-color: rgb(86, 170, 226);
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}

.base-text {
    -unity-font-style: italic;
    font-size: 80px;
    -unity-text-align: upper-center;
    white-space: normal;
    -unity-text-outline-width: 2px;
    -unity-text-outline-color: rgb(29, 25, 25);
    -unity-font: url("project://database/Assets/Game%20Assets/Fonts/OdibeeSans-Regular.ttf?fileID=12800000&guid=94c91e133c0f88c438ef55128a1cd703&type=3#OdibeeSans-Regular");
    -unity-font-definition: initial;
}

.center {
    align-items: center;
    justify-content: center;
    height: 100%;
}

.menu-button {
    width: 325px;
    padding-top: 20px;
    padding-bottom: 20px;
    -unity-font: url("project://database/Assets/Game%20Assets/Fonts/OdibeeSans-Regular.ttf?fileID=12800000&guid=94c91e133c0f88c438ef55128a1cd703&type=3#OdibeeSans-Regular");
    -unity-font-definition: initial;
    font-size: 32px;
    -unity-text-align: upper-center;
    background-color: rgb(72, 140, 188);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.active {
    background-color: rgba(223, 231, 66, 255);
}

.stat-container {
    flex-direction: row;
    padding-right: 0;
    margin-right: 20px;
}

.stat-name {
    background-color: rgba(19, 255, 0, 255);
    -unity-font: url("project://database/Assets/Game%20Assets/Fonts/OdibeeSans-Regular.ttf?fileID=12800000&guid=94c91e133c0f88c438ef55128a1cd703&type=3#OdibeeSans-Regular");
    -unity-font-definition: initial;
    font-size: 30px;
    -unity-text-align: upper-center;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.stat-value {
    background-color: rgba(0, 0, 0, 255);
    -unity-font: url("project://database/Assets/Game%20Assets/Fonts/OdibeeSans-Regular.ttf?fileID=12800000&guid=94c91e133c0f88c438ef55128a1cd703&type=3#OdibeeSans-Regular");
    -unity-text-align: upper-center;
    -unity-font-style: normal;
    font-size: 30px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
